@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.highlighting-title{
    color: #ffb018;
}

.highlighting-name{
    color: #ffb018;
}

.presentation {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.presentation__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-size: 37px;
    font-family: "Krona One", sans-serif;

}

.presentation__content__text{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;

}

.presentation__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.link__socials{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid, #ffb018;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
}

.links__presentation__subtitle{
    font-size: 24px;
    font-weight: 400;
    font-family: "Krona One", sans-serif;
}

