* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.highlighting-title {
    color: #ffb018;
}

.highlighting-name {
    color: #ffb018;
}

.presentation {
    display: flex;

}

p {
    color: darkgray;
}

button {
    background-color: #ffb018;
}

a {
    color: white;
}

footer {
    background-color: gray;
    color: white;

}